/*!**************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./app/editor-style.css ***!
  \**************************************************************************************************************************************************************************/
body {
    background-color: rgb(149, 255, 0) !important;
    color: white !important;
}
/*!*****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./app/app.css ***!
  \*****************************************************************************************************************************************************************/
body {
    background-color: black !important;
    color: white !important;
}
